*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


.Submit{
  
  border: 2px solid black;
  border-radius: 10px;
  margin-top: 30PX;
  margin-right: 80px;
  padding: 3px 3px ;
height: 30px;
width: 70px;


}
.move{
  padding-left: 70px;


}

.heading{

 margin-left: 40px;

}

.register{

margin-left: 400px;
margin-top: 50px;

}

.formlocation{


  margin-left: 400px;
  margin-top: 50px;
  


}

.size{

padding: 10px;

}